<!-- order.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
    <link rel="stylesheet" href="/css/order.css"> <!-- varsayılan olarak styles.css dosyasını kullanıyoruz -->

    <style>
        /* order.css */

        .orders-container {
            padding-top: 50px;
            display: flex;
            flex-wrap: wrap;
        }

        .component-container {
            width: 33.33%; /* Her bir bileşen üçte birlik alan kaplasın */
            padding: 10px; /* Boşluk */
            box-sizing: border-box; /* Kenarlıklar dahil olacak şekilde kutuyu boyutlandır */
        }

        .list {
            border: 1px solid transparent; /* Kenarlık */
            padding: 10px; /* Boşluk */
            margin-bottom: 20px; /* Alt boşluk */
            background-color: rgba(0, 0, 0, 0.1); /* Hafif siyahmsı, şeffaf arka plan */
            border-radius: 10px; /* Köşeleri yuvarlat */
            transition: background-color 0.3s ease; /* Renk değişimi için geçiş efekti */
        }

        .list:hover {
            background-color: rgba(0, 0, 0, 0.2); /* Hafif siyahmsı, şeffaf arka plan (hover durumunda biraz daha koyu) */
        }

        .list img {
            width: 100%; /* Resimlerin genişliği %100 olsun, yani containera tam olarak sığsın */
            height: auto; /* Yükseklik otomatik olarak ayarlanacak, oranlar korunacak */
            display: block; /* Diğer içeriklerle çakışmaması için blok olacak */
            margin-bottom: 10px; /* Resim altına boşluk bırak */
            border-radius: 5px; /* Köşeleri yuvarlat */
        }

    </style>
</head>
<body>
    <h1>Your Orders</h1>
    <% if (components.length === 0) { %>
        <p>No orders yet.</p>
    <% } else { %>
        <div class="orders-container">
            <% components.forEach((component, index) => { %>
                <div class="component-container">
                    <div class="list">
                        <h2><%= index + 1 %>. <%= component.title[0] %></h2>
                        <img src="<%= component.description[0] %>" alt="Component Image">
                        <p><%= component.price[0] %>$</p>
                    </div>
                    

                    <div class="list">
                        <h2><%= index + 1 %>. <%= component.title[1] %></h2>
                        <img src="<%= component.description[1] %>" alt="Component Image">
                        <p><%= component.price[1] %>$</p>
                    </div>
                    <div class="list">
                        <h2><%= index + 1 %>. <%= component.title[2] %></h2>
                        <img src="<%= component.description[2] %>" alt="Component Image">
                        <p><%= component.price[2] %>$</p>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>
    <a href="/order">Your Orders</a> <!-- Bu düğme order sayfasına geri dönecek -->
</body>
</html>
